version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: |
                cd client
                npm install
                npm run format
                npm run lint
                npm test
                npm run build

workflows:
  build-and-test:
    jobs:
      - build-and-test
